nav  {
    display: flex;
    justify-content: flex-end;
    background-color: #2d5c8b; 
    padding: 10px;
  }
  
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333; 
    font-weight: bold;
  }
  
  nav a:hover {
    color: #007bff; 
  }
  